altair==5.5.0
blinker==1.9.0
pandas==2.2.3
numpy==2.2.4
scikit-learn==1.6.1
xgboost==3.0.0
matplotlib==3.10.1
seaborn==0.13.2
streamlit==1.43.2
plotly==6.0.1
pyarrow==19.0.1
pydeck==0.9.1
joblib==1.4.2
protobuf==5.29.4
requests==2.32.3
